<%= form_with  model: @billing, url: users_billings_path do |f| %>
    <%= f.hidden_field :booking_id, value: @booking.id %>
    <%= f.hidden_field :quotation_id, value: @quotation.id %>
    <%= f.fields_for :quotation, @billing.quotation do |q| %>
    
    <div class="container-fluid">
        <div class="row font-robo mb-3">
                <%= q.fields_for :client, @quotation.client do |c| %>
                <%= render 'users/quotations/new_client', f: c %>
                <% end %>

            <div class="col border rounded p-3">
                <%= field_title "Details" %>
                <div class="input-group mb-2">
                    <span class="input-group-text">Booking</span>
                    <input type="text" class="form-control text-center" disabled value=<%= @booking.b_reference.upcase %>>
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text">Type</span>
                    <%= f.select :type, Billing::DOC_TYPES, {}, class: "form-select text-center" %>
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text">Status</span>
                    <%= f.select :status, options_for_select([
                        ['Draft', 'Draft'],
                        ['Sent', 'Sent'],
                        ['Paid', 'Paid']
                    ], f.object.status), {}, class: "form-select text-center" %>
                </div>
            </div>
        </div>

        <div class="row font-robo mb-3">
            <div class="col-12 border rounded p-3">
                <%= field_title "Shipment Details" %>
                <div class="input-group mb-2">
                    <span class="input-group-text">Origin</span>
                    <%= q.text_field :origin, class: "form-control" %>
                    <span class="input-group-text">Destination</span>
                    <%= q.text_field :destination, class: "form-control" %>
                </div>

                <div class="col-12">
                    <%= f.fields_for :booking, @billing.booking do |b| %>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="input-group mb-2">
                                            <span class="input-group-text">Vessel</span>
                                            <%= b.text_field :vessel_info, class: "form-control" %>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-text">BL #</span>
                                            <%= b.text_field :bl_number, class: "form-control" %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">ETA</span>
                                        <%= b.date_field :eta, class: "form-control" %>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text">Cargo Volume</span>
                                        <%= b.number_field :cargo_volume, class: "form-control text-center", min: 0, step: "0.01" %>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="input-group mb-2">
                            <span class="input-group-text">Description</span>
                            <%= b.text_field :services, class: "form-control" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="row font-robo mb-3" data-controller="billing-line-item">
            <div class="col-12 border rounded p-3">
                <div class="col-4 mx-auto my-2">
                    <div class="input-group">
                        <span class="input-group-text">Exchange Rate</span>
                        <%= f.number_field :ex_rate, class: "form-control text-center", step: "0.01", min: 0, data: {
                            billing_line_item_target: :exchange
                        } %>
                        <span class="input-group-text">PHP</span>
                    </div>
                </div>

                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Currency</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody data-billing-line-item-target="container">
                        <%= f.fields_for :billing_line_items do |bli| %>
                            <template data-billing-line-item-target="template">
                                <%= render 'users/billings/line_items', bli: bli %>
                            </template>
                            <%= render 'users/billings/line_items', bli: bli %>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <button id="addBillingLineItem" type="button" class="btn btn-sm btn-outline-success" data-action="billing-line-item#add">Add Row</button>
                            </td>
                            <td class="text-end fw-semibold">Sub Total</td>
                            <td class="text-center">
                                <span class="fw-bold" data-billing-line-item-target="subtotal"></span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="position-absolute top-0 end-0">
            <%= f.submit "Save", class: "btn btn-success me-4 mt-3" %>
        </div>
    </div>

<% end %>
<% end %>