<div style="display: -webkit-box;">
    <% if current_user.company.logo.attached? %>
    <div>
        <%= image_tag polymorphic_url(current_user.company.logo), style: "height: 7rem; width: auto;"  %>
    </div>
    <% end %>
    <div>
        <h1 class="font-robos">
            <%= current_user.company.name %>
        </h1>
        <small>
            <%= current_user.company.address %>
        </small> 
        <div style="display: -webkit-box">
            <div>
                <small>
                    Email :<%= current_user.company.email %>
                </small>
            </div>
            <div class="ms-3">
                <small>
                    Mobile # :<%= current_user.company.contact_number %>
                </small>
            </div>
        </div>
        <%# Will need to find a way to incorporate this into a specific company setting %>
        <small>
            NON-VAT REG. TIN # 501-594-979-000
        </small>
    </div>
</div>

<div class="mt-3">
    <h2><%= @billing.doc_type %>:</h2>
</div>
<br>


<div style="display: -webkit-box; -webkit-box-pack: justify;" class="mt-2">
    
    <fieldset style="border: 1px solid black; min-width: 300px" class="p-3">
        <legend style="float: none; width: auto; border: 2px solid black; background-color: white; border-radius: 5px;" class="px-3 fw-semibold">For</legend>
        <div class="ps-2">
            <p class="mb-0 fw-semi-bold"><%= @billing.quotation.client.name.titleize %></p>
            <p class="mb-0"><%= @billing.quotation.client.address.titleize %></p>
            <p>TIN: <%= @billing.quotation.client.tin_number %></p>
        </div>
    </fieldset>
    
     <fieldset style="border: 1px solid black; min-width: 300px" class="p-3">
        <legend style="float: none; width: auto; border: 2px solid black; background-color: white; border-radius: 5px;" class="px-3 fw-semibold">Details</legend>
        <div class="ps-2">
            <div>
                Date: <%= @billing.created_at.strftime("%m/%d/%y") %>
            </div>
            <div>
                Reference No.: <%= @billing.booking.b_reference.upcase %>
            </div>
        </div>
    </fieldset>
</div>

<fieldset style="border: 1px solid black; min-width: 300px" class="p-3 mt-3">
    <legend style="float: none; width: auto; border: 2px solid black; background-color: white; border-radius: 5px;" class="px-2 fw-semibold">Shipment Info</legend>
    <div class="ps-2">
        <div class="mb-1" style="display: -webkit-box; -webkit-box-pack: justify;">
            <div>
                <div>
                    <span>
                        Origin :
                    </span>
                    <%= @billing.quotation.origin %>
                </div>
                <div class="mb-3">
                    <span>
                        Destination :
                    </span>
                    <%= @billing.quotation.destination %>
                </div>
                <div>
                    <span>
                        Job Description :
                    </span><br>
                    <%= @billing.booking.services %>
                </div>
            </div>
            <div>
                <div>
                    <span>
                        Bill of Lading No :
                    </span>
                    <%= @billing.booking.bl_number.upcase %>
                </div>
                <div>
                    <span>
                        ETA :
                    </span>
                    <%= @billing.booking.eta %>
                </div>
                <div>
                    <span>
                        Vessel :
                    </span>
                    <%= @billing.booking.vessel_info.upcase %>
                </div>
                <div>
                    <span>
                        Cargo Volume :
                    </span>
                    <%= @billing.booking.cargo_volume %>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset style="border: 1px solid black; min-width: 300px" class="py-3 mt-3">
    <legend style="float: none; width: auto; border: 2px solid black; background-color: white; border-radius: 5px;" class="px-3 fw-semibold text-center">We are billing you for the following</legend>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Currency</th>
                    <th>Cost</th>
                    <th>Ex_Rate</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% @billing.billing_line_items.each do |item| %>
                <tr>
                    <td><%= item.description %></td>
                    <td class="text-center"><%= item.currency %></td>
                    <td><%= item.currency == 'PHP' ? number_to_currency_php(item.cost) : number_to_currency(item.cost) %></td>
                    <td class="text-center"><%= @billing.ex_rate %></td>
                    <td class="text-center"><%= item.quantity %></td>
                    <td class="text-end"><%= number_to_currency_php item.total %></td>
                </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">Total</th>
                    <th><%= number_to_currency_php @billing.total_amount %></th>
                </tr>
            </tfoot>
        </table>
        <div class="ms-2 fw-bold">
            <%= convert_to_words @billing.total_amount %>
        </div>
    </div>
</fieldset>

<div class="mt-5 p-3" style="border: 2px dotted black; display: -webkit-box; -webkit-box-pack: justify;">
    <div>
        <small class="fw-bold">
            *This is not valid for input tax claim*
        </small>
    </div>
    <div>
        <small>
            Prepared by: <%= current_user.full_name %>
        </small>
    </div>
</div>