<div class="row">
    <div class="col-4">
        <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="col">
        <%= f.text_field :currency, class: "form-control" %>
    </div>
    <div class="col">
        <%= f.number_field :cost, class: "form-control" %>
    </div>
    <div class="col">
        <%= f.text_field :frequency, class: "form-control" %>
    </div>
    <div class="col">
        <%= f.number_field :quantity, class: "form-control" %>
    </div>
    <div class="col-2">
        <%= f.number_field :total, class: "form-control-plaintext text-center", readonly: true %>
    </div>
</div>