<div class="container-fluid vh-100 px-0 d-flex flex-column">
    <%= render 'users/navbar' %>
    <div class="d-flex flex-grow-1">
        <%= render 'users/sidebar' %>

        <div class="col-10 flex-grow-1">
            <div class="container p-3">
                Hello World! <br>
                Logged in under: <%= current_user.company.name %> <br>
                as: <%= current_user.email %>
                <br>
                User is manager: <%= current_user.manager? %>
            </div>
        </div>
    </div>
</div>