<%= turbo_frame_tag "users_frame" do %>
<div class="border shadow rounded p-3">
    <% unless current_user.bookings.empty? %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ref No.</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Last Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        <% @bookings.each do |booking| %>
                <tr>
                    <td><%= booking.b_reference.upcase %></td>
                    <td><%= booking.quotation.client.name %></td>
                    <td><%= booking.status %></td>
                    <td><%= time_ago_in_words(booking.updated_at) + ' ago' %></td>
                    <td>
                        <%= link_to 'Show', users_booking_path(booking), class: "btn btn-sm btn-outline-info" %>
                    </td>
                </tr>
        <% end %>
            </tbody>
        </table>
    <% else %>
    You have no bookings yet
    <% end %>
</div>
<% end %>