<%= turbo_frame_tag "users_frame" do %>
<div class="container-fluid font-robo">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h3 class="font-robos"><%= @booking.b_reference.upcase %></h3>
        <div class="d-flex justify-content between">
            <%= link_to 'Back to Bookings Index', users_bookings_path, class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to 'Edit', edit_users_booking_path(@booking), class: "btn btn-sm btn-outline-warning ms-2" %>
        </div>
    </div>
    <div class="position-absolute end-0 me-5">
        <div class="border rounded shadow p-2">
            <div class="font-robos border-bottom p-1">
                Actions
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-center">
                        <% if @booking.billings.count == 2 %>
                        <%= link_to 'Make Billing', new_users_billing_path(quotation_id: @booking.quotation.id, booking_id: @booking.id), class: "btn btn-outline-secondary disabled" %>
                        <% else %>
                        <%= link_to 'Make Billing', new_users_billing_path(quotation_id: @booking.quotation.id, booking_id: @booking.id), class: "btn btn-outline-secondary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="border shadow rounded p-3 h-100">
                <h5 class="font-robos">Client</h5>
                <div class="ps-2">
                    <div>
                        <%= @booking.quotation.client.name.titleize %>
                    </div>
                    <div>
                        <%= @booking.quotation.client.address.titleize %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border shadow rounded p-3">
                <h5 class="font-robos">Details</h5>
                <div class="ps-2">
                    <div>
                        Quotation: 
                        <%= link_to users_quotation_path(@booking.quotation) do %>
                        <%= @booking.quotation.reference.upcase %>
                        <% end %>
                    </div>
                    <div>
                        Status: <%= @booking.status %>
                    </div>
                    <div>
                        Billings:
                        <ul class="list-group">
                            <% if @booking.billings.count > 0 %>
                                <% @booking.billings.each do |billing| %>
                                    <%= link_to billing.doc_type, users_billing_path(billing), class: "list-group-item list-group-item-action" %>
                                <% end %>
                            <% else %>
                            <li class="list-group-item">
                                None
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="border shadow rounded p-3">
                <h5 class="font-robos">Shipment Details</h5>
                <div class="ps-2">
                    <div class="row">
                        <div class="col-6">
                            Origin: <%= @booking.quotation.origin %>
                        </div>
                        <div class="col-6">
                            Destination: <%= @booking.quotation.destination %>
                        </div>
                        <div class="col-6">
                            BL #: <%= @booking.bl_number %>
                        </div>
                        <div class="col-6">
                            ETA: <%= @booking.eta %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Incoterm: <%= @booking.quotation.incoterm %>
                        </div>
                        <div class="col-6">
                            Cargo Volume: <%= @booking.cargo_volume %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="border shadow rounded p-3">
                <h5 class="font-robos">Financial Details</h5>
                <div class="ps-2">
                    <div class="row">
                        <div class="col-12">
                            Quoted Amount: <%= number_to_currency_php @booking.quotation.total_price %>
                        </div>
                        <div class="col-12">
                            Billed Amount: <%= number_to_currency_php(@booking.billings.sum(:total_amount)) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>