<%= turbo_frame_tag "user_profile_frame" do %>
    <%= form_with model: @user, url: users_profile_path do |f| %>
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-floating">
                <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true %>
                <%= f.label :first_name, "First Name" %>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
                <%= f.label :last_name, "Last Name" %>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <%= link_to 'Back', users_profile_path, class: "btn btn-outline-secondary", data: { turbo_frame: :user_profile_frame } %>
        <%= f.submit "Save", class: "btn btn-outline-success" %>
    </div>
    <% end %>
<% end %>