<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="row text-center flex-column">
                <div class="font-robo mb-3">
                    <%= turbo_frame_tag "auth_frame" do %>
                        <div class="col-6 mx-auto shadow p-3 rounded">
                            <h1 class="font-robos">Apply for Company Login</h1>
                            <p class="lead">
                                Submit an application for our team to review. Once approved, your personal company code will be sent to your email address.
                            </p>
                            <%= form_with model: @company do |f| %>
                                <div class="form-floating mb-3">
                                    <%= f.text_field :name, class: "form-control", placeholder: "Company Name", required: true %>
                                    <%= f.label :name, "Company Name" %>
                                </div>
                                <div class="form-floating mb-3">
                                    <%= f.text_field :email, class: "form-control", placeholder: "Email Address", required: true %>
                                    <%= f.label :email, "Email Address" %>
                                    <div class="form-text">
                                        This email will be used as your company's manager account.
                                    </div>
                                </div>
                                <div class="text-center">
                                    <%= f.submit "Apply", class: 'btn btn-outline-success' %>
                                </div>
                                <div class="text-start">
                                    Have a company code? <%= link_to 'Log In', search_companies_path , class: "link-offset-3"%>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>