<div class="container-fluid vh-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <div class="font-robo mb-3">
        <%= turbo_frame_tag "auth_frame" do %>
          <div class="col-6 mx-auto shadow p-3 rounded text-center">
            <h2 class="font-robos"><%= @company.name %></h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo_frame: :_top, controller: :login }) do |f| %>
              <%= f.hidden_field :company_id, value: @company.id %>
              <div class="col-6 mx-auto">
                <div class="field input-group mb-2">
                  <i class="bi bi-envelope-at input-group-text"></i>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>
                </div>

                <div class="field input-group mb-2">
                  <i class="bi bi-eye-slash input-group-text"></i>
                  <%= f.password_field :password, autocomplete: "current-password", required: true, class: "form-control" %>
                </div>
              </div>
              
              <div class="small mb-2 d-none text-danger">
                Invalid Credentials. Please contact your company manager.
              </div>

              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-outline-primary" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
