<!DOCTYPE html>
<html>
  <head>
    <title>Spicement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="assets/spicement.ico">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <aside>
      <div class="position-absolute top-0 start-50 translate-middle-x z-5" id="toast_container">
        <% if alert || notice %>
          <%= render 'shared/alerts' %>
        <% end %>
      </div>
    </aside>
  </body>
</html>
